<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card border-info mb-3" style="max-width: 20rem">
      <div class="card-header text-center text-info"><h3>Login</h3></div>
      <div class="card-body">
         <form action="/users/login" method="POST">
          <div class="form-group">
          <label class="col-form-label" for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            
          />
          <label class="col-form-label" for="inputDefault">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            
          />
          <button type="submit" class="btn btn-outline-info btn-block mt-3">
            Login
          </button>
        </form>
          <p class="text-info m-3">
            Don't have an account?<a
              href="/users/signup"
              class="text-info m-1 text-muted"
              >Sign Up</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
