<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card border-info mb-3" style="max-width: 20rem">
      <div class="card-header text-center text-info"><h3>E-ssentials</h3></div>
      <div class="card-body">
        <h4 class="card-title text-center text-info">Welcome</h4>
        <a href="/users/login" class="btn btn-outline-info btn-block">
          Login
        </a>
        <a href="/users/signup" class="btn btn-outline-info btn-block">
          Sign Up
        </a>
      </div>
    </div>
    <div cla
  </div>
</div>
