<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 m-auto col-centered">
      <div class="card border-info mb-3" style="max-width: 20rem">
        <div class="card-header text-center text-info">
          <h3>E-ssentials</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center text-info mb-3">Welcome</h4>
          <div class="d-flex justify-content-center mb-3">
            <i class="fas fa-shopping-cart fa-3x text-info"></i>
          </div>

          <a href="/users/login" class="btn btn-outline-info btn-block">
            Login
          </a>
          <a href="/users/signup" class="btn btn-outline-info btn-block">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
