* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-image: url("../images/marbel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
.body__inital {
  background-image: url("../images/marbel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

header {
  margin-bottom: 2rem;
}

input {
  color: #1e87f0 !important;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

::placeholder {
  color: #1e87f0 !important;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #1e87f0 !important;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1e87f0 !important;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

#footer {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#duration {
  margin: 0rem;
  display: none;
}
#vol-control {
  margin-top: 1.75rem;
  margin-bottom: 4rem;
}
.uk-position-center {
  z-index: 10;
}
.btn {
  transition: all 0.2s;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 2rem;
}

.btn:active {
  transform: translateY(0.1rem);
}

.progress {
  margin-left: 25%;
  margin-right: 25%;
}
.inital-text {
  color: #1e87f0 !important;
}
.text__title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: 200;
  -webkit-text-stroke: 0.1px #f8f8f8;
  text-shadow: 0px 2px 4px #1e87f0;
}
.text__title--modist {
  -webkit-text-stroke: 0.2px #f8f8f8;
  text-shadow: 0px 2px 4px #1e87f0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 300;
  margin: 1.75rem 0rem -3rem 0rem;
}
.text__title--music {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* margin-left: 0.75rem; */
  font-size: 3rem;
  font-weight: 300;
  -webkit-text-stroke: 0.1px #f8f8f8;
  text-shadow: 0px 2px 4px #1e87f0;
}
.text__title--anchor {
  margin: 1rem;
  -webkit-text-stroke: 0.5px #111010 !important;
}
.text__title--secondary {
  -webkit-text-stroke: 0.1px #f8f8f8;
  text-shadow: 0px 2px 4px #1e87f0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 300;
}

/* welcome grid */
.welcome__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.welcome__grid--1 {
  grid-area: 1 / 1 / 2 / 2;
}
.welcome__grid--2 {
  grid-area: 2 / 1 / 3 / 2;
}
.welcome__grid--3 {
  grid-area: 3 / 1 / 4 / 2;
}
.welcome__grid--4 {
  grid-area: 4 / 1 / 5 / 2;
}
.welcome__grid--5 {
  grid-area: 5 / 1 / 6 / 2;
}

/* welcome */
.text__transition {
  letter-spacing: 0.1rem;
  color: #1e87f0 !important;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 200;
}
.text__transition--anchor {
  margin-left: 0.2rem;
}
.search-btn {
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.7s;
  letter-spacing: 0.1rem;
  color: #1e87f0 !important;
}

.inital-btn {
  transition: all 0.2s;
  cursor: pointer;
  margin: 1rem 54% 0.5rem 35%;
  transition: 0.7s;
  background-color: #1e87f0 !important;
  color: #fff !important;
  letter-spacing: 0.1rem;
}
.search-btn:hover {
  background-color: #fff !important;
  color: #1e87f0 !important;
}

.search-btn:hover {
  background-color: #1e87f0 !important;
  color: #fff !important;
}
.search-btn:active {
  transform: translateY(0.1rem);
}

.controls {
  margin-top: 2rem;
}

.tracks {
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.tracks-main {
  color: #1e87f0 !important;
}
.tracks-sub {
  margin-bottom: 4rem;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
}

.sub_title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  padding: 0.25rem;
}

.secondary {
  color: #1e87f0 !important;
}

/* volume control */
input[type="range"] {
  height: 0rem;
  -webkit-appearance: none;
  margin: 0rem 35% 2rem 35%;
  width: 30%;
  display: flex;
  flex-direction: row;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  background: #1e87f0;
}
input[type="range"]::-webkit-slider-thumb {
  height: 1.2rem;
  width: 0.6rem;
  border-radius: 0.2rem;
  background: #ffffffb8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1e87f0;
}

/* timer */
.base-timer {
  height: 0rem;
  width: 28rem;
  bottom: 26rem;
  left: 32.5%;
  position: relative;
}
.base-timer__svg {
  transform: scaleX(1);
}
.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: rgba(128, 128, 128, 0.637);
}

.base-timer__path-remaining {
  stroke-width: 0.2rem;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.arc {
  color: #1e87f0;
}
.welcome__text {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  -webkit-text-stroke: 0.2px #f8f8f8;
  text-shadow: 0px 2px 4px #1e87f0;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem;
  letter-spacing: 0.2rem;
}

.logout__text {
  text-align: center;
  font-size: 1.75rem;
  margin-top: 1rem;
  -webkit-text-stroke: 0.2px #f8f8f8;
  text-shadow: 0px 2px 4px #1e87f0;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  letter-spacing: 0.2rem;
}

.logout__icon {
  text-align: center;
  font-size: 1.75rem;
  margin: 1rem;
  color: #222222;
}
.logout__icon:hover {
  color: #1e87f0;
}
.glass {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  position: relative;
  z-index: 1;
  margin: 0.5rem 1rem;
  backdrop-filter: blur(70px);
  border: solid 1px transparent;
  background-clip: padding-box;
}
.glass__welcome {
  /* clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%); */
  display: inline-block;
  background: rgba(255, 255, 255, 0.363);

  border-radius: 0;
  padding: 7rem;
  position: relative;
  z-index: 1;
  /* color:rgba(128, 128, 128, 0.801) */
  backdrop-filter: blur(70px);
  border: solid 1px transparent;
  background-clip: padding-box;
}

/* welcome audio bars */
/* Special Thanks for the animation boiler plate: https://codepen.io/ganapativs/pen/emzbzj */
#bars {
  height: 60px;
  left: 20%;
  margin: -0.25rem 0rem 0 0rem;
  position: absolute;
  top: 50%;
  width: 10px;
}

.bar {
  background: #1e87f0;
  bottom: 11rem;
  height: 10px;
  position: absolute;
  width: 9px;
  animation: sound 5s -20s linear infinite alternate;
  animation-delay: 2s;
  margin: 2rem 0 0 6.2rem;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 10px;
    background-color: black;
  }
  100% {
    opacity: 1;
    height: 70px;
  }
}
.bar:nth-child(13) {
  left: -50px;
  animation-duration: 487ms;
}
.bar:nth-child(14) {
  left: -40px;
  animation-duration: 442ms;
}
.bar:nth-child(13) {
  left: -30px;
  animation-duration: 480ms;
}
.bar:nth-child(14) {
  left: -20px;
  animation-duration: 442ms;
}
.bar:nth-child(1) {
  left: -10px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 10px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 20px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 30px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 40px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 50px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 60px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 70px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 80px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 90px;
  animation-duration: 442ms;
}
.bar:nth-child(11) {
  left: 100px;
  animation-duration: 441ms;
}
.bar:nth-child(12) {
  left: 110px;
  animation-duration: 440ms;
}

/********mobile responsiveness **/
@media only screen and (max-width: 1300px) {
  .base-timer {
    height: 0rem;
    width: 28rem;
    bottom: 26rem;
    left: 30%;
    position: relative;
  }
  .glass_welcome {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1250px) {
  #bars {
    left: 15%;
    margin: -0.25rem 0rem 0 0rem;
    position: absolute;
    top: 45%;
  }
}

@media only screen and (max-width: 1200px) {
  .base-timer {
    height: 0rem;
    width: 28rem;
    bottom: 24rem;
    left: 29%;
    position: relative;
  }
  .btn {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 1150px) {
  .base-timer {
    height: 0rem;
    width: 28rem;
    bottom: 24rem;
    left: 25%;
    position: relative;
  }
  .custom {
    margin-top: -25rem;
  }
  .glass {
    margin-left: -2rem;
  }
}

@media only screen and (max-width: 960px) {
  .base-timer {
    height: 0rem;
    width: 28rem;
    bottom: 26rem;
    left: 30%;
    position: relative;
  }
  .custom {
    margin-top: -25rem;
  }
}

@media only screen and (max-width: 940px) {
  #bars {
    height: 60px;
    left: 36%;
    margin: -0.25rem 0rem 0 0rem;
    position: absolute;
    top: 55%;
    width: 10px;
  }
}
@media only screen and (max-width: 775px) {
  .base-timer {
    height: 0rem;
    width: 28rem;
    bottom: 24rem;
    left: 15%;
    position: relative;
  }
  #bars {
    left: 32%;
    margin: -0.25rem 0rem 0 0rem;
  }
  #vol-control {
    margin: 1rem 40% 4rem 25%;
    width: 50%;
  }
  .glass__welcome {
    margin-right: 25%;
  }
  #card__login {
    margin-right: 20%;
  }
  #btn__login {
    margin-left: 42%;
  }
  #card__signup {
    margin-right: 20%;
  }
  #btn__signup {
    margin-left: 42%;
  }
  .glass {
    margin-left: -2rem;
  }
}

@media only screen and (max-width: 550px) {
  body {
    margin: 0rem;
    padding: 2rem 0rem;
  }
  .custom {
    margin-top: -24rem;
  }

  .btn {
    font-size: 2rem;
    cursor: pointer;
    display: inline;
    margin: 2rem 1rem;
  }

  .track {
    margin-bottom: 8rem;
  }

  .base-timer {
    height: 0rem;
    width: 20rem;
    bottom: 38rem;
    left: 0%;
    position: relative;
  }
  .tracks-main {
    margin-top: 4rem;
  }
  #vol-control {
    margin: 5rem 40% 8rem 25%;
    width: 50%;
  }
  .glass__welcome {
    margin-right: 45%;
  }
  #bars {
    height: 60px;
    left: 25%;
    margin: -0.25rem 0rem 0 0rem;
    position: absolute;
    top: 50%;
    width: 10px;
  }
  .text__title--anchor {
    font-size: 2rem;
  }
  #card__login {
    margin-right: 50%;
  }
  #btn__login {
    margin-left: 38%;
  }
  #card__signup {
    margin-right: 50%;
  }
  #btn__signup {
    margin-left: 38%;
  }
}

@media only screen and (max-width: 400px) {
  .glass__welcome {
    margin-right: 62%;
  }
  #bars {
    height: 60px;
    left: 15%;
    margin: -0.25rem 0rem 0 0rem;
    position: absolute;
    top: 50%;
    width: 10px;
  }
  .text__title--anchor {
    font-size: 2rem;
  }
  #card__login {
    margin-right: 65%;
  }
  #btn__login {
    margin-left: 32%;
  }
  #card__signup {
    margin-right: 65%;
  }
  #btn__signup {
    margin-left: 32%;
  }
  .glass {
    margin-left: 1rem;
  }
}
